body{
  background-image: linear-gradient(to left, #7e57c2, #2c0e7a);
  font-family: Roboto;
}

h1{
  font-family: Comfortaa
}

h2{
  font-family: Comfortaa
}

.characterPortrait{
  width: 35px;
  border-radius: 50%;
}

.historyDeleteButton{
  display: flex;
}

#playerAvatarHistory{
  width: 65%;
}

#gamerProfile{

  display: flex;
  text-align: center;
  justify-content: center;
  width: 25%;
  margin: auto;
  padding-bottom: 50px;
}

#knowForPlaying{
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

#title{
  color: white;
  text-align: center;
}

#content{
  display: flex;
  justify-content: center;
}

#userInput{
  width: 15%;
}

#playerDisplay{
  display: flex;
  padding-top: 25px;
}

#gamerAvatar{
  display: flex;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.603);  
  width: 350px;
  height: 350px;
}

#tourneyAvatar{
  display: flex;
  width: 15%;
}

#tourneyName {
  text-align: center;
  margin: auto;
}

#submitButton{
  display: flex;
  margin-top: 5px;
  width: 175px;
  border: solid #2c0e7a 0.5px;
}

#gamesPlayerPlays{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gameBoxImg{
  width: 50%;
}

#playerCard{
  background: rgba(255, 255, 255, 0.205);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.603);  
}

#inputHolder{
  padding: 10px 50px 10px 50px;
  background: rgba(255, 255, 255, 0.205);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.603);  
}

#searchHistoryCard{
  display: flex;
  width: 25rem;
}
#searchHistory{
  position: absolute;
  padding-left: 4%;
}